[
  {registry,
   [
     {config_data,
      [
        {"api",
         [
           #{
             <<"dockerid">> => "f685b9f1d822",
             <<"ip">> => "107.147.143.192",
             <<"meta">> => #{},
             <<"port">> => 14340,
             <<"status">> => "up",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "api"
           },
           #{
             <<"dockerid">> => "0222c924c4ff",
             <<"ip">> => "13.30.57.157",
             <<"meta">> => #{},
             <<"port">> => 30761,
             <<"status">> => "ready",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "api"
           }
         ]
        },
        {"auth",
         [
           #{
             <<"dockerid">> => "7943b8713376",
             <<"ip">> => "204.71.43.198",
             <<"meta">> => #{},
             <<"port">> => 40114,
             <<"status">> => "up",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "auth"
           },
           #{
             <<"dockerid">> => "e830f6bb4599",
             <<"ip">> => "241.246.132.166",
             <<"meta">> => #{},
             <<"port">> => 63203,
             <<"status">> => "ready",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "auth"
           }
         ]
        },
        {"dlr_sender",
         [
           #{
             <<"dockerid">> => "755bf820c8fa",
             <<"ip">> => "98.236.42.141",
             <<"meta">> => #{},
             <<"port">> => 59846,
             <<"status">> => "up",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "dlr_sender"
           },
           #{
             <<"dockerid">> => "4163e4254b58",
             <<"ip">> => "123.154.133.33",
             <<"meta">> => #{},
             <<"port">> => 2845,
             <<"status">> => "ready",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "dlr_sender"
           }
         ]
        },
        {"hub",
         [
           #{
             <<"dockerid">> => "30479202b706",
             <<"ip">> => "24.164.207.244",
             <<"meta">> => #{
               <<"gateway_id">> => 901,
               <<"host">> => "127.0.0.1",
               <<"num_binds">> => 10,
               <<"password">> => "2345",
               <<"port">> => 5555,
               <<"smppc_id">> => 1001,
               <<"mode">> => tranceiver,
               <<"username">> => "2345",
               <<"telemarid">> => "2345678",
               <<"tps">> => 100
             },
             <<"port">> => 33435,
             <<"status">> => "up",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "hub"
           },
           #{
             <<"dockerid">> => "a529202fb4b3",
             <<"ip">> => "70.66.242.228",
             <<"meta">> => #{
               <<"gateway_id">> => 901,
               <<"host">> => "127.0.0.1",
               <<"num_binds">> => 10,
               <<"password">> => "2345",
               <<"port">> => 5555,
               <<"smppc_id">> => 1001,
               <<"mode">> => tranceiver,
               <<"username">> => "2345",
               <<"telemarid">> => "2345678",
               <<"tps">> => 100
             },
             <<"port">> => 65345,
             <<"status">> => "ready",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "hub"
           }
         ]
        },
        {"mon",
         [
           #{
             <<"dockerid">> => "5bf0696c8cbd",
             <<"ip">> => "92.240.226.3",
             <<"meta">> => #{},
             <<"port">> => 48750,
             <<"status">> => "up",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "mon"
           },
           #{
             <<"dockerid">> => "327697ad241e",
             <<"ip">> => "170.244.84.168",
             <<"meta">> => #{},
             <<"port">> => 1372,
             <<"status">> => "ready",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "mon"
           }
         ]
        },
        {"reaper",
         [
           #{
             <<"dockerid">> => "9e7ab389449f",
             <<"ip">> => "117.195.170.54",
             <<"meta">> => #{},
             <<"port">> => 49956,
             <<"status">> => "up",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "reaper"
           },
           #{
             <<"dockerid">> => "a85f578e8069",
             <<"ip">> => "2.51.20.4",
             <<"meta">> => #{},
             <<"port">> => 43718,
             <<"status">> => "ready",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "reaper"
           }
         ]
        },
        {"recon",
         [
           #{
             <<"dockerid">> => "e482f83a6694",
             <<"ip">> => "100.180.133.44",
             <<"meta">> => #{},
             <<"port">> => 20105,
             <<"status">> => "up",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "recon"
           },
           #{
             <<"dockerid">> => "df52ff8a8413",
             <<"ip">> => "213.229.137.241",
             <<"meta">> => #{},
             <<"port">> => 2962,
             <<"status">> => "ready",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "recon"
           }
         ]
        },
        {"smsc",
         [
           #{
             <<"dockerid">> => "7c8c890c6651",
             <<"ip">> => "105.96.97.230",
             <<"meta">> => #{},
             <<"port">> => 58941,
             <<"status">> => "up",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "smsc"
           },
           #{
             <<"dockerid">> => "1d9e4a653801",
             <<"ip">> => "208.126.129.91",
             <<"meta">> => #{},
             <<"port">> => 9073,
             <<"status">> => "ready",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "smsc"
           }
         ]
        },
        {"uihub",
         [
           #{
             <<"dockerid">> => "66a39b14c30b",
             <<"ip">> => "89.83.148.27",
             <<"meta">> => #{},
             <<"port">> => 29780,
             <<"status">> => "up",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "uihub"
           },
           #{
             <<"dockerid">> => "c3b272ae7d3c",
             <<"ip">> => "6.169.216.240",
             <<"meta">> => #{},
             <<"port">> => 25905,
             <<"status">> => "ready",
             <<"time_to_refresh">> => 10000,
             <<"type">> => "uihub"
           }
         ]
        }
      ]
     }
   ]
  }
].
